/* ResourceLibrary.css */

.resource-library-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Light background for content */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    color: #333; /* Dark text color */
}

.header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: white; /* Primary color for the heading */
}

.search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da; /* Light border */
    margin-bottom: 20px;
    font-size: 1rem;
}

.resource-list {
    margin-top: 20px;
}

.resource-item {
    background-color: #f8f9fa; /* Light grey background for each resource */
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s; /* Smooth transition */
    cursor: pointer;
}

.resource-item:hover {
    background-color: #e9ecef; /* Change background on hover */
}

.resource-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use inherited color */
}

.resource-item h2 {
    margin: 0;
    font-size: 1.5rem; /* Title size */
}

.resource-item p {
    margin: 5px 0 0; /* Margin for the description */
    color: #6c757d; /* Grey color for type */
    font-size: 1rem; /* Type size */
}
